/** HOME SCREEN **************************************/

.terms-of-service-screen {
  .terms-of-service {
    padding: 10px;
    p {
      color: black;

    }
    p.title {
      font-size: 22px;
      text-align: center;
    }
    p.subtitle {
      font-size: 18px;
      text-align: center;
    }
    ul.lista {
      list-style: circle !important;
      li{
        padding: 5px;
        margin-left: 20px;
      }
    }
  }
}
